<template>
  <div class="columns">
    <aside class="column is-1">
      <div class="menu box">
        <Toc-component/>
      </div>
    </aside>
    <aside class="column is-2">
      <div class="menu box">
        <names-list-component/>
      </div>
    </aside>
    <article class="column">
      <div class="content">
        <character-component/>
      </div>
    </article>
  </div>
</template>

<script>
import { store } from "../store";
import TocComponent from "./Toc.vue";
import NamesListComponent from "./NamesList.vue";
import CharacterComponent from "./Character.vue";

export default {
  data() {
    return {
      state: store.state
    };
  },
  components: {
    TocComponent,
    NamesListComponent,
    CharacterComponent
  }
};
</script>
<style>

</style>
