<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{name}}</p>
    </header>
    <div class="card-content">
      <div v-if="content && content.length" class="content" v-html="content"></div>
      <span v-else>Please select a character name from the left</span>
    </div>
  </div>
</template>
<script>
import { store } from "../store"
import axios from "axios"
export default {
  data() {
    return {
      loading: false,
      name: null,
      imgSrc: null,
      content: null,
      error: null,
      state: store.state
    }
  },
  watch: {
    "state.id": function() {
      this.fetchData()
    }
  },
  methods: {
    async fetchData() {
      this.letters = this.error = null
      this.loading = true

      try {
        const response = await axios.get(
          `${store.apiBaseUrl}/characters/${this.state.id}`,
          { headers: { "Authorization": `Bearer ${this.state.token}`}})
        this.name = response.data.name
        this.imgSrc = response.data.imgSrc
        this.content = response.data.info
      } catch (error) {
        this.error = error
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
