<template>
  <div class="columns is-centered is-vcentered">
    <div class='column is-4 '>
      <form id="loginForm" @submit.prevent="onSubmit">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input class="input" type="email" placeholder="email" size="30" maxlength="30" v-model="user.email" required autofocus >
            <span class="icon is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" size="10" maxlength="10" placeholder="password" v-model="user.password" required >
            <span class="icon is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field is-grouped is-pulled-right">
          <div class="control">
            <a @click="onSignUp" class="button  is-light">Sign up</a>
          </div>
          <div class="control">
            <button :disabled="!validForm" class="button is-link">Log in</button>
          </div>
        </div>
        
      </form>
      <span v-if="error" class="help is-danger">{{error}}</span>
    </div>
  </div>
</template>
<script>
import { store } from '../store'
import axios from "axios";
export default {
  data() {
    return {
      user: {
        email: null,
        password: null
      },
      error: null,
      state: store.state
    }
  },
  computed: {
    validForm: function() {
      // just to fire the computed property
      let email = this.user.email
      let pass = this.user.password
      let valid = false
      
      if(this.$el){
        valid = this.$el.querySelector('#loginForm').checkValidity() && (this.user.password.length > 5)
      }
      return valid
    }
  },
  methods: {
    onSignUp() {
      this.$router.replace({name:'sign-up'})
    },
    async onSubmit() {
      try {
        const response = await axios.post(
          `${store.apiBaseUrl}/users/login`, this.user
        )
        store.setToken(response.data.token)
        this.$router.replace({name:'app-layout'})
      } catch (error) {
        if (error.response && error.response.status == 400) {
          this.error = 'Invalid credentials'
        } else {
          this.error = 'Oops something went wrong!'
        }
      } finally {
        this.loading = false;
      }
    }
  }
}
</script>
