<template>
  <ul class="menu-list" v-if="items && items.length">
    <li v-for="item in items" :key="item._id">
      <a
        href="#"
        @click="selectCharacter(item._id)"
        :class="{'is-active':item._id == state.id}"
      >{{ item.name }}</a>
    </li>
  </ul>
  <span v-else>Please select a letter from the left</span>
</template>
<script>
import { store } from "../store"
import axios from "axios"
export default {
  data() {
    return {
      items: [],
      state: store.state
    }
  },
  watch: {
    "state.letter": function() {
      this.fetchData()
    }
  },
  methods: {
    async fetchData() {
      try {
        const response = await axios.get(
          `${store.apiBaseUrl}/characters/indexon/${this.state.letter}`,
          { headers: { "Authorization": `Bearer ${this.state.token}`}}
        )
        this.items = response.data
      } catch (error) {
        this.error = error
      } finally {
        this.loading = false
      }
    },
    selectCharacter(id) {
      this.state.id = id
    }
  }
}
</script>
