<template>
  <div class="columns is-centered is-vcentered">
    <div class='column is-4 '>
      <form id="loginForm" @submit.prevent="onSubmit">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left">
            <input class="input" type="email" placeholder="email" size="30" maxlength="30" v-model="user.email" required autofocus 
            @change="onEmailChange"
            >
            <span class="icon is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <span v-if="emailExists != null && emailExists" class="help is-danger">This email already is registered</span>
          <span v-else-if="emailExists != null && !emailExists" class="help is-success">This email is available for sign up</span>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" size="10" maxlength="10" placeholder="password" v-model="user.password" required >
            <span class="icon is-left">
              <i class="fas fa-key"></i>
            </span>
          </div>
        </div>
        <div class="field is-grouped is-pulled-right">
          <div class="control">
            <button :disabled="!validForm" class="button is-link">Sign up</button>
          </div>
        </div>
        
      </form>
      <span v-if="error" class="help is-danger">{{error}}</span>
    </div>
  </div>
</template>
<script>
import { store } from '../store'
import axios from "axios";
export default {
  data() {
    return {
      user: {
        email: null,
        password: null
      },
      emailExists: null,
      error: null,
      state: store.state
    }
  },
  computed: {
    async onEmailChange() {
      try {
        if(this.user.email) {

        const response = await axios.post(
        `${store.apiBaseUrl}/users/exists`, this.user
        )
        this.emailExists = response.data
        }
        else {
            this.emailExists = null
        }
      } catch (error) {
        if (error.response && error.response.status == 400) {
          this.error = 'Invalid credentials'
        } else {
          this.error = 'Oops something went wrong!'
        }
      } finally {
        this.loading = false;
      }
    },
    validForm: function() {
      // just to fire the computed property
      let email = this.user.email
      let pass = this.user.password
      let valid = false
      
      if(this.$el){
        valid = this.$el.querySelector('#loginForm').checkValidity() && (this.user.password.length > 5)
      }
      valid = valid & !this.emailExists
      return valid
    }
  },
  methods: {
    async onSubmit() {
      try {
        const response = await axios.post(
          `${store.apiBaseUrl}/users/signup`, this.user
        )
        this.$router.replace({name:'login'})
      } catch (error) {
        this.error = 'Oops something went wrong!'
        console.log(error)
      } finally {
        this.loading = false;
      }
    }
  }
}
</script>
