<template>
  <ul v-if="letters && letters.length" class="menu-list">
    <li v-for="letter in letters" :key="letter">
      <a
        href="#"
        @click="selectLetter(letter)"
        :class="{'is-active':letter==state.letter}"
      >{{ letter }}</a>
    </li>
  </ul>
</template>
<script>
import { store } from "../store";
import axios from "axios";
export default {
  data() {
    return {
      loading: false,
      letters: null,
      error: null,
      state: store.state
    };
  },
  async created() {
    await this.fetchData();
  },
  methods: {
    async fetchData() {
      this.letters = this.error = null;
      this.loading = true;

      try {
        const response = await axios.get(
          `${store.apiBaseUrl}/characters`,
          { headers: { "Authorization": `Bearer ${this.state.token}`}}
        );
        this.letters = response.data;
      } catch (error) {
        this.error = error;
      } finally {
        this.loading = false;
      }
    },
    selectLetter(letter) {
      store.setLetter(letter);
    }
  }
};
</script>
<style scoped>
</style>
