<template>
  <section class="hero is-fullheight">
    <div class="hero-head">
      <nav-component/>
    </div>
    <div class="hero-body">
      <div class="container">
        <router-view></router-view>
      </div>
    </div>
  </section>
</template>

<script>
import { store } from "./store";
import NavComponent from './components/Nav.vue'

export default {
  data() {
    return {
      state: store.state
    }
  },
  components: {
    NavComponent
  }
}
</script>
<style>
@import url(https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css);
</style>
